# Which events were the most impactful?

#### When did they occur? What type were they? Where did they occur?
#### Quantify the damages to people and property

In [4]:
!pip install pyexasol
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyexasol in /home/chandler/.local/lib/python3.8/site-packages (0.25.2)
Requirement already satisfied: websocket-client>=1.0.1 in /home/chandler/.local/lib/python3.8/site-packages (from pyexasol) (1.8.0)
Requirement already satisfied: pyopenssl in /usr/lib/python3/dist-packages (from pyexasol) (19.0.0)
Requirement already satisfied: rsa in /home/chandler/.local/lib/python3.8/site-packages (from pyexasol) (4.9)
Requirement already satisfied: packaging in /home/chandler/.local/lib/python3.8/site-packages (from pyexasol) (23.2)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/lib/python3/dist-packages (from rsa->pyexasol) (0.4.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/chandler/.local/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/chandler/.local/lib/python3.8/site-packages (from seaborn) (1.23.3)
Requirement already satisfied: pandas>=1.2 in /home/chandler/.local/lib/python3.8/site-packages (from seaborn) (1.5.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/chandler/.local/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.37.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/chandler/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.0)
Requirement already satisfied: pytz>=2020.1 in /home/chandler/.local/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2022.4)
Requirement already satisfied: zipp>=3.1.0 in /home/chandler/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.18.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.14.0)

In [1]:
# Load in the stuffs
import pandas as pd
import pyexasol

pd.set_option("display.max_colwidth", None)
def print_query(query, connection):
    stmt = connection.export_to_pandas(query)
    print(stmt.head())
    return stmt

host = '192.168.56.101/3D518979E1BE8B4E0A23B7A296E6AD35D5EC29DCCE01E5CC6ECBA7C9E38D8E96:8563'  # Don't forget to change the fingerprint
user = 'sys'
password = 'exasol'

# Connect to Exasol
conn = pyexasol.connect(dsn=host, 
                        user=user, 
                        password=password, 
                        debug=False, 
                        protocol_version=pyexasol.PROTOCOL_V1)

In [2]:
pd.set_option('display.max_rows', None)

#### Overall Human damage

In [3]:
# Top 10 most destructive events in number of injuries + deaths both direct and indirect
q = '''
SELECT 
    T.EVENT_ID, 
    T.EVENT_TYPE,
    T.REGION,
    T.BEGIN_DATE_TIME,
    T.END_DATE_TIME,
    SUM(T.INJURIES_DIRECT) AS SUM_INJURIES_DIRECT,
    SUM(T.INJURIES_INDIRECT) AS SUM_INJURIES_INDIRECT,
    SUM(T.DEATHS_DIRECT) AS SUM_DEATHS_DIRECT,
    SUM(T.DEATHS_INDIRECT) AS SUM_DEATHS_INDIRECT,
    SUM(COALESCE((T.INJURIES_DIRECT + T.INJURIES_INDIRECT + T.DEATHS_DIRECT + T.DEATHS_INDIRECT), 0)) AS HUMAN_DAMAGE,
    SUM(COALESCE((T.DAMAGE_PROPERTY + T.DAMAGE_CROPS), 0)) AS NON_HUMAN_DAMAGE
FROM 
    AOL_SCHEMA.WEATHER_EVENTS AS T
WHERE 
    MONTH(T.BEGIN_DATE_TIME) >= 3.0
GROUP BY 
    T.EVENT_ID,
    T.BEGIN_DATE_TIME,
    T.END_DATE_TIME,
    T.EVENT_TYPE,
    T.REGION
ORDER BY
    HUMAN_DAMAGE DESC
LIMIT 10;
'''

overall_human_df = print_query(q, conn)
overall_human_df

   EVENT_ID EVENT_TYPE     REGION             BEGIN_DATE_TIME  \
0   5506267    Tornado   Missouri  2006-04-02 17:54:00.000000
1   5500766    Tornado  Tennessee  2006-04-07 13:12:00.000000
2   5506368    Tornado  Tennessee  2006-04-02 18:32:00.000000
3   5506369    Tornado  Tennessee  2006-04-02 19:09:00.000000
4   5506240    Tornado   Arkansas  2006-04-02 16:46:00.000000

                END_DATE_TIME  SUM_INJURIES_DIRECT  SUM_INJURIES_INDIRECT  \
0  2006-04-02 18:25:00.000000                  130                      0
1  2006-04-07 13:32:00.000000                  121                      0
2  2006-04-02 18:55:00.000000                   70                      0
3  2006-04-02 19:31:00.000000                   42                      0
4  2006-04-02 17:37:00.000000                   47                      0

   SUM_DEATHS_DIRECT  SUM_DEATHS_INDIRECT  HUMAN_DAMAGE  NON_HUMAN_DAMAGE
0                  2                    0           132                 0
1                  7                    0           128                 0
2                 16                    0            86                 0
3                  6                    0            48                 0
4                  0                    0            47                 0

,EVENT_ID,EVENT_TYPE,REGION,BEGIN_DATE_TIME,END_DATE_TIME,SUM_INJURIES_DIRECT,SUM_INJURIES_INDIRECT,SUM_DEATHS_DIRECT,SUM_DEATHS_INDIRECT,HUMAN_DAMAGE,NON_HUMAN_DAMAGE
0,5506267,Tornado,Missouri,2006-04-02 17:54:00.000000,2006-04-02 18:25:00.000000,130,0,2,0,132,0
1,5500766,Tornado,Tennessee,2006-04-07 13:12:00.000000,2006-04-07 13:32:00.000000,121,0,7,0,128,0
2,5506368,Tornado,Tennessee,2006-04-02 18:32:00.000000,2006-04-02 18:55:00.000000,70,0,16,0,86,0
3,5506369,Tornado,Tennessee,2006-04-02 19:09:00.000000,2006-04-02 19:31:00.000000,42,0,6,0,48,0
4,5506240,Tornado,Arkansas,2006-04-02 16:46:00.000000,2006-04-02 17:37:00.000000,47,0,0,0,47,0
5,5497925,Tornado,Missouri,2006-03-12 21:18:00.000000,2006-03-12 21:33:00.000000,26,0,4,0,30,0
6,5502578,Tornado,Iowa,2006-04-13 19:29:00.000000,2006-04-13 19:37:00.000000,30,0,0,0,30,0
7,5512771,Heat,Michigan,2006-05-29 12:00:00.000000,2006-05-29 18:00:00.000000,28,0,0,0,28,0
8,5501849,Tornado,Kentucky,2006-04-02 19:50:00.000000,2006-04-02 20:11:00.000000,22,0,0,0,22,0
9,5496254,Wildfire,Texas,2006-03-12 11:00:00.000000,2006-03-18 18:00:00.000000,8,0,12,0,20,18201000

#### Overall Non-Human damage

In [4]:
# top 10 most damaging events to property and crops in USD
q = '''
SELECT 
    T.EVENT_ID, 
    T.EVENT_TYPE,
    T.REGION,
    T.BEGIN_DATE_TIME,
    T.END_DATE_TIME,
    SUM(T.INJURIES_DIRECT) AS SUM_INJURIES_DIRECT,
    SUM(T.INJURIES_INDIRECT) AS SUM_INJURIES_INDIRECT,
    SUM(T.DEATHS_DIRECT) AS SUM_DEATHS_DIRECT,
    SUM(T.DEATHS_INDIRECT) AS SUM_DEATHS_INDIRECT,
    SUM(COALESCE((T.INJURIES_DIRECT + T.INJURIES_INDIRECT + T.DEATHS_DIRECT + T.DEATHS_INDIRECT), 0)) AS HUMAN_DAMAGE,
    SUM(COALESCE((T.DAMAGE_PROPERTY + T.DAMAGE_CROPS), 0)) AS NON_HUMAN_DAMAGE
FROM 
    AOL_SCHEMA.WEATHER_EVENTS AS T
WHERE 
    MONTH(T.BEGIN_DATE_TIME) >= 3.0
GROUP BY 
    T.EVENT_ID,
    T.BEGIN_DATE_TIME,
    T.END_DATE_TIME,
    T.EVENT_TYPE,
    T.REGION
ORDER BY
    NON_HUMAN_DAMAGE DESC 
LIMIT 10;
'''
overall_non_human_df = print_query(q, conn)
overall_non_human_df

   EVENT_ID   EVENT_TYPE      REGION             BEGIN_DATE_TIME  \
0   5498400      Drought       Texas  2006-03-01 00:00:00.000000
1   5513319      Drought       Texas  2006-05-01 00:00:00.000000
2   5503659     Wildfire       Texas  2006-04-11 12:00:00.000000
3   5496255     Wildfire       Texas  2006-03-12 11:30:00.000000
4   5497354  Debris Flow  California  2006-04-01 18:00:00.000000

                END_DATE_TIME  SUM_INJURIES_DIRECT  SUM_INJURIES_INDIRECT  \
0  2006-03-31 23:59:00.000000                    0                      0
1  2006-05-08 23:59:00.000000                    0                      0
2  2006-04-13 17:00:00.000000                    2                      0
3  2006-03-18 18:00:00.000000                    0                      0
4  2006-04-15 12:00:00.000000                    0                      0

   SUM_DEATHS_DIRECT  SUM_DEATHS_INDIRECT  HUMAN_DAMAGE  NON_HUMAN_DAMAGE
0                  0                    0             0         200001000
1                  0                    0             0         100001000
2                  0                    0             2          90001000
3                  0                    0             0          27201000
4                  1                    0             1          20001000

,EVENT_ID,EVENT_TYPE,REGION,BEGIN_DATE_TIME,END_DATE_TIME,SUM_INJURIES_DIRECT,SUM_INJURIES_INDIRECT,SUM_DEATHS_DIRECT,SUM_DEATHS_INDIRECT,HUMAN_DAMAGE,NON_HUMAN_DAMAGE
0,5498400,Drought,Texas,2006-03-01 00:00:00.000000,2006-03-31 23:59:00.000000,0,0,0,0,0,200001000
1,5513319,Drought,Texas,2006-05-01 00:00:00.000000,2006-05-08 23:59:00.000000,0,0,0,0,0,100001000
2,5503659,Wildfire,Texas,2006-04-11 12:00:00.000000,2006-04-13 17:00:00.000000,2,0,0,0,2,90001000
3,5496255,Wildfire,Texas,2006-03-12 11:30:00.000000,2006-03-18 18:00:00.000000,0,0,0,0,0,27201000
4,5497354,Debris Flow,California,2006-04-01 18:00:00.000000,2006-04-15 12:00:00.000000,0,0,1,0,1,20001000
5,5496254,Wildfire,Texas,2006-03-12 11:00:00.000000,2006-03-18 18:00:00.000000,8,0,12,0,20,18201000
6,5501922,Heavy Rain,California,2006-04-02 15:00:00.000000,2006-04-05 15:00:00.000000,0,0,0,0,0,16601000
7,5501923,Heavy Rain,California,2006-04-02 16:00:00.000000,2006-04-05 16:00:00.000000,0,0,0,0,0,16001000
8,5501925,Heavy Rain,California,2006-04-02 18:00:00.000000,2006-04-05 18:00:00.000000,0,0,0,0,0,9101000
9,5501932,Flood,California,2006-04-05 12:00:00.000000,2006-04-08 12:00:00.000000,0,0,0,0,0,5801000

#### Most destructive events per region

In [5]:
# Most destructive events per region with more than 0 human damage factor and more than 0 non-human damage factor
q = '''
WITH RankedEvents AS (
    SELECT 
        T.EVENT_ID, 
        T.EVENT_TYPE,
        T.REGION,
        T.BEGIN_DATE_TIME,
        T.END_DATE_TIME,
        SUM(T.INJURIES_DIRECT) AS SUM_INJURIES_DIRECT,
        SUM(T.INJURIES_INDIRECT) AS SUM_INJURIES_INDIRECT,
        SUM(T.DEATHS_DIRECT) AS SUM_DEATHS_DIRECT,
        SUM(T.DEATHS_INDIRECT) AS SUM_DEATHS_INDIRECT,
        SUM(COALESCE(T.INJURIES_DIRECT, 0) + COALESCE(T.INJURIES_INDIRECT, 0) + COALESCE(T.DEATHS_DIRECT, 0) + COALESCE(T.DEATHS_INDIRECT, 0)) AS HUMAN_DAMAGE,
        SUM(COALESCE(T.DAMAGE_PROPERTY, 0) + COALESCE(T.DAMAGE_CROPS, 0)) AS NON_HUMAN_DAMAGE,
        RANK() OVER(PARTITION BY T.REGION ORDER BY SUM(COALESCE(T.DAMAGE_PROPERTY, 0) + COALESCE(T.DAMAGE_CROPS, 0)) DESC) AS NON_HUMAN_DAMAGE_RANK,
        RANK() OVER(PARTITION BY T.REGION ORDER BY SUM(COALESCE(T.INJURIES_DIRECT, 0) + COALESCE(T.INJURIES_INDIRECT, 0) + COALESCE(T.DEATHS_DIRECT, 0) + COALESCE(T.DEATHS_INDIRECT, 0)) DESC) AS HUMAN_DAMAGE_RANK
    FROM 
        AOL_SCHEMA.WEATHER_EVENTS AS T
    WHERE 
        MONTH(T.BEGIN_DATE_TIME) >= 3.0
    GROUP BY 
        T.EVENT_ID,
        T.BEGIN_DATE_TIME,
        T.END_DATE_TIME,
        T.EVENT_TYPE,
        T.REGION
)
SELECT 
    *
FROM 
    RankedEvents
WHERE 
    (NON_HUMAN_DAMAGE_RANK = 1 
    OR HUMAN_DAMAGE_RANK = 1)
    AND HUMAN_DAMAGE > 0
    AND NON_HUMAN_DAMAGE > 0;
'''

region_df = print_query(q, conn)
print(region_df.shape)
region_df

   EVENT_ID         EVENT_TYPE         REGION             BEGIN_DATE_TIME  \
0   5494873           Wildfire       Maryland  2006-03-17 08:20:00.000000
1   5513521              Flood  Massachusetts  2006-05-13 10:30:00.000000
2   5512489  Thunderstorm Wind  Massachusetts  2006-05-21 16:58:00.000000
3   5513535  Thunderstorm Wind  Massachusetts  2006-05-21 16:58:00.000000
4   5512771               Heat       Michigan  2006-05-29 12:00:00.000000

                END_DATE_TIME  SUM_INJURIES_DIRECT  SUM_INJURIES_INDIRECT  \
0  2006-03-17 15:30:00.000000                    2                      0
1  2006-05-15 19:00:00.000000                    0                      0
2  2006-05-21 17:05:00.000000                    1                      0
3  2006-05-21 17:05:00.000000                    1                      0
4  2006-05-29 18:00:00.000000                   28                      0

   SUM_DEATHS_DIRECT  SUM_DEATHS_INDIRECT  HUMAN_DAMAGE  NON_HUMAN_DAMAGE  \
0                  0                    0             2              1000
1                  2                    0             2              1000
2                  0                    0             1              1000
3                  0                    0             1              1000
4                  0                    0            28              1000

   NON_HUMAN_DAMAGE_RANK  HUMAN_DAMAGE_RANK
0                      1                  1
1                      1                  1
2                      1                  2
3                      1                  2
4                     31                  1
(117, 13)

,EVENT_ID,EVENT_TYPE,REGION,BEGIN_DATE_TIME,END_DATE_TIME,SUM_INJURIES_DIRECT,SUM_INJURIES_INDIRECT,SUM_DEATHS_DIRECT,SUM_DEATHS_INDIRECT,HUMAN_DAMAGE,NON_HUMAN_DAMAGE,NON_HUMAN_DAMAGE_RANK,HUMAN_DAMAGE_RANK
0,5494873,Wildfire,Maryland,2006-03-17 08:20:00.000000,2006-03-17 15:30:00.000000,2,0,0,0,2,1000,1,1
1,5513521,Flood,Massachusetts,2006-05-13 10:30:00.000000,2006-05-15 19:00:00.000000,0,0,2,0,2,1000,1,1
2,5512489,Thunderstorm Wind,Massachusetts,2006-05-21 16:58:00.000000,2006-05-21 17:05:00.000000,1,0,0,0,1,1000,1,2
3,5513535,Thunderstorm Wind,Massachusetts,2006-05-21 16:58:00.000000,2006-05-21 17:05:00.000000,1,0,0,0,1,1000,1,2
4,5512771,Heat,Michigan,2006-05-29 12:00:00.000000,2006-05-29 18:00:00.000000,28,0,0,0,28,1000,31,1
5,5491231,Thunderstorm Wind,Mississippi,2006-03-09 15:27:00.000000,2006-03-09 15:43:00.000000,3,0,0,0,3,1000,16,1
6,5505505,Thunderstorm Wind,Mississippi,2006-05-04 19:08:00.000000,2006-05-04 19:12:00.000000,3,0,0,0,3,1000,16,1
7,5506267,Tornado,Missouri,2006-04-02 17:54:00.000000,2006-04-02 18:25:00.000000,130,0,2,0,132,1000,2,1
8,5507865,High Wind,Nebraska,2006-05-26 23:00:00.000000,2006-05-26 23:40:00.000000,5,0,0,0,5,1000,6,1
9,5511947,Strong Wind,Nevada,2006-05-27 16:30:00.000000,2006-05-27 16:30:00.000000,0,0,1,0,1,1000,1,1
10,5509457,Tornado,New hampshire,2006-05-21 16:45:00.000000,2006-05-21 16:46:00.000000,2,0,0,0,2,1000,1,1
11,5496155,Wildfire,New mexico,2006-03-12 11:00:00.000000,2006-03-13 11:00:00.000000,1,0,0,0,1,1000,1,1
12,5502369,Flood,North dakota,2006-04-01 00:00:00.000000,2006-04-19 23:59:00.000000,0,0,1,0,1,1000,1,1
13,5502719,Flood,North dakota,2006-04-01 00:00:00.000000,2006-04-22 23:59:00.000000,0,0,1,0,1,1000,1,1
14,5505318,Dust Devil,North dakota,2006-05-07 15:40:00.000000,2006-05-07 15:45:00.000000,1,0,0,0,1,1000,1,1
15,5512277,Lightning,North dakota,2006-05-09 14:00:00.000000,2006-05-09 14:00:00.000000,1,0,0,0,1,1000,1,1
16,5509573,Thunderstorm Wind,Ohio,2006-05-25 18:25:00.000000,2006-05-25 18:29:00.000000,1,0,0,0,1,1000,1,1
17,5495496,Strong Wind,Ohio,2006-03-13 11:44:00.000000,2006-03-13 11:44:00.000000,0,0,1,0,1,1000,1,1
18,5494185,Thunderstorm Wind,Oklahoma,2006-03-09 13:23:00.000000,2006-03-09 13:23:00.000000,10,0,0,0,10,1000,5,1
19,5507660,High Surf,Oregon,2006-05-09 06:00:00.000000,2006-05-09 06:00:00.000000,0,0,3,0,3,1000,2,1
20,5513044,Lightning,Pennsylvania,2006-05-31 14:58:00.000000,2006-05-31 14:58:00.000000,1,0,0,0,1,1000,1,1
21,5511180,Lightning,Puerto rico,2006-05-11 18:37:00.000000,2006-05-11 18:37:00.000000,0,0,1,0,1,1000,1,1
22,5504540,Thunderstorm Wind,South carolina,2006-04-08 16:07:00.000000,2006-04-08 16:07:00.000000,2,0,0,0,2,1000,1,1
23,5510640,Tornado,South carolina,2006-05-14 16:40:00.000000,2006-05-14 16:43:00.000000,1,0,0,0,1,1000,1,2
24,5504544,Tornado,South carolina,2006-04-08 14:53:00.000000,2006-04-08 14:53:00.000000,1,0,0,0,1,1000,1,2
25,5499514,Rip Current,South carolina,2006-04-15 11:30:00.000000,2006-04-15 11:30:00.000000,0,0,1,0,1,1000,1,2
26,5513153,Lightning,South carolina,2006-05-27 15:05:00.000000,2006-05-27 15:05:00.000000,1,0,0,0,1,1000,1,2
27,5504482,Thunderstorm Wind,South dakota,2006-04-17 20:15:00.000000,2006-04-17 20:15:00.000000,5,0,1,0,6,1000,2,1
28,5500766,Tornado,Tennessee,2006-04-07 13:12:00.000000,2006-04-07 13:32:00.000000,121,0,7,0,128,1000,1,1
29,5506368,Tornado,Tennessee,2006-04-02 18:32:00.000000,2006-04-02 18:55:00.000000,70,0,16,0,86,1000,1,2
30,5506369,Tornado,Tennessee,2006-04-02 19:09:00.000000,2006-04-02 19:31:00.000000,42,0,6,0,48,1000,1,3
31,5506443,Tornado,Tennessee,2006-04-02 19:43:00.000000,2006-04-02 19:52:00.000000,6,0,2,0,8,1000,1,4
32,5500765,Tornado,Tennessee,2006-04-07 13:08:00.000000,2006-04-07 13:11:00.000000,7,0,0,0,7,1000,1,5
33,5506839,Tornado,Tennessee,2006-04-07 12:36:00.000000,2006-04-07 12:44:00.000000,5,0,0,0,5,1000,1,6
34,5500730,Tornado,Tennessee,2006-04-07 16:46:00.000000,2006-04-07 16:51:00.000000,4,0,0,0,4,1000,1,7
35,5506444,Tornado,Tennessee,2006-04-02 20:45:00.000000,2006-04-02 20:47:00.000000,2,0,0,0,2,1000,1,8
36,5500706,Tornado,Tennessee,2006-04-07 15:45:00.000000,2006-04-07 16:00:00.000000,0,0,2,0,2,1000,1,8
37,5509801,Lightning,Tennessee,2006-05-30 14:00:00.000000,2006-05-30 14:00:00.000000,1,0,1,0,2,1000,1,8
38,5506370,Tornado,Tennessee,2006-04-02 19:31:00.000000,2006-04-02 19:35:00.000000,2,0,0,0,2,1000,1,8
39,5509794,Lightning,Tennessee,2006-05-27 12:28:00.000000,2006-05-27 12:28:00.000000,1,0,0,0,1,1000,1,12
40,5496880,Thunderstorm Wind,Tennessee,2006-04-02 15:50:00.000000,2006-04-02 15:58:00.000000,1,0,0,0,1,1000,1,12
41,5500707,Tornado,Tennessee,2006-04-07 17:28:00.000000,2006-04-07 17:35:00.000000,0,0,1,0,1,1000,1,12
42,5497130,Hail,Tennessee,2006-04-07 15:00:00.000000,2006-04-07 15:00:00.000000,1,0,0,0,1,1000,1,12
43,5506193,Lightning,Alabama,2006-05-03 20:10:00.000000,2006-05-04 20:10:00.000000,2,0,0,0,2,1000,1,1
44,5504291,Thunderstorm Wind,Alabama,2006-04-08 00:22:00.000000,2006-04-08 00:22:00.000000,1,0,0,0,1,1000,1,2
45,5497798,Thunderstorm Wind,Alabama,2006-03-09 17:45:00.000000,2006-03-09 17:45:00.000000,1,0,0,0,1,1000,1,2
46,5497723,Thunderstorm Wind,Alabama,2006-03-09 16:10:00.000000,2006-03-09 16:30:00.000000,1,0,0,0,1,1000,1,2
47,5505980,Lightning,Alabama,2006-05-29 14:45:00.000000,2006-05-29 14:45:00.000000,1,0,0,0,1,1000,1,2
48,5497792,Thunderstorm Wind,Alabama,2006-03-09 16:10:00.000000,2006-03-09 16:45:00.000000,1,0,0,0,1,1000,1,2
49,5504001,Tornado,Alabama,2006-04-08 00:16:00.000000,2006-04-08 00:20:00.000000,1,0,0,0,1,1000,1,2
50,5505943,Lightning,Alabama,2006-05-26 22:20:00.000000,2006-05-26 22:20:00.000000,1,0,0,0,1,1000,1,2
51,5504983,Lightning,Alabama,2006-05-26 15:13:00.000000,2006-05-26 15:13:00.000000,1,0,0,0,1,1000,1,2
52,5520438,Lightning,American samoa,2006-04-04 19:30:00.000000,2006-04-04 19:30:00.000000,1,0,1,0,2,1000,1,1
53,5519110,Dust Storm,Arizona,2006-05-22 10:00:00.000000,2006-05-22 15:00:00.000000,6,0,0,0,6,1000,1,1
54,5519109,Dust Storm,Arizona,2006-05-22 11:30:00.000000,2006-05-22 11:30:00.000000,3,0,0,0,3,1000,1,2
55,5497943,Winter Storm,Arizona,2006-03-10 12:00:00.000000,2006-03-12 18:00:00.000000,0,0,3,0,3,1000,1,2
56,5511945,Strong Wind,Arizona,2006-05-21 15:15:00.000000,2006-05-21 16:45:00.000000,0,0,2,0,2,1000,1,4
57,5511946,Strong Wind,Arizona,2006-05-26 16:00:00.000000,2006-05-26 19:30:00.000000,0,0,2,0,2,1000,1,4
58,5506240,Tornado,Arkansas,2006-04-02 16:46:00.000000,2006-04-02 17:37:00.000000,47,0,0,0,47,1000,1,1
59,5493653,Tornado,Arkansas,2006-03-12 21:44:00.000000,2006-03-12 22:08:00.000000,12,0,0,0,12,1000,1,2
60,5506241,Tornado,Arkansas,2006-04-02 17:34:00.000000,2006-04-02 18:34:00.000000,5,0,0,0,5,1000,1,3
61,5497074,Tornado,Arkansas,2006-03-09 06:50:00.000000,2006-03-09 06:58:00.000000,4,0,0,0,4,1000,1,4
62,5496380,Tornado,Arkansas,2006-03-09 06:58:00.000000,2006-03-09 07:10:00.000000,2,0,0,0,2,1000,1,5
63,5494673,Lightning,Arkansas,2006-03-09 03:00:00.000000,2006-03-09 03:00:00.000000,0,0,1,0,1,1000,1,6
64,5515831,Lightning,Arkansas,2006-05-10 07:50:00.000000,2006-05-10 07:50:00.000000,1,0,0,0,1,1000,1,6
65,5502841,Thunderstorm Wind,Arkansas,2006-04-24 15:25:00.000000,2006-04-24 15:25:00.000000,1,0,0,0,1,1000,1,6
66,5509626,Lightning,Arkansas,2006-05-28 15:50:00.000000,2006-05-28 15:50:00.000000,1,0,0,0,1,1000,1,6
67,5496269,Winter Weather,California,2006-03-11 02:28:00.000000,2006-03-11 02:50:00.000000,15,0,2,0,17,1000,15,1
68,5497354,Debris Flow,California,2006-04-01 18:00:00.000000,2006-04-15 12:00:00.000000,0,0,1,0,1,20001000,1,3
69,5505392,Avalanche,Colorado,2006-05-14 14:00:00.000000,2006-05-14 14:00:00.000000,1,0,0,0,1,1000,1,1
70,5497063,Flood,Connecticut,2006-04-23 14:00:00.000000,2006-04-23 18:00:00.000000,0,0,1,0,1,1000,1,1
71,5503514,Wildfire,Delaware,2006-04-27 15:00:00.000000,2006-04-27 15:00:00.000000,1,0,0,0,1,1000,1,1
72,5496962,Rip Current,Florida,2006-05-29 15:30:00.000000,2006-05-29 15:30:00.000000,6,0,0,0,6,1000,1,1
73,5517246,Lightning,Florida,2006-05-28 13:45:00.000000,2006-05-28 13:45:00.000000,1,0,0,0,1,1000,1,2
74,5511855,Lightning,Florida,2006-05-28 12:30:00.000000,2006-05-28 12:30:00.000000,1,0,0,0,1,1000,1,2
75,5511350,Rip Current,Florida,2006-05-28 15:00:00.000000,2006-05-28 15:00:00.000000,0,0,1,0,1,1000,1,2
76,5501105,Lightning,Florida,2006-04-26 17:40:00.000000,2006-04-26 17:40:00.000000,0,0,1,0,1,1000,1,2
77,5511854,Lightning,Florida,2006-05-26 18:06:00.000000,2006-05-26 18:06:00.000000,1,0,0,0,1,1000,1,2
78,5503166,Lightning,Georgia,2006-04-19 20:45:00.000000,2006-04-19 20:45:00.000000,1,0,0,0,1,1000,3,1
79,5511689,Lightning,Georgia,2006-05-14 18:30:00.000000,2006-05-14 18:30:00.000000,0,0,1,0,1,1000,3,1
80,5503064,Tornado,Georgia,2006-04-08 02:20:00.000000,2006-04-08 02:28:00.000000,1,0,0,0,1,1000,3,1
81,5503154,Tornado,Georgia,2006-04-08 02:30:00.000000,2006-04-08 02:35:00.000000,1,0,0,0,1,1000,3,1
82,5492774,Rip Current,Guam,2006-03-04 16:00:00.000000,2006-03-04 16:00:00.000000,0,0,1,0,1,1000,1,1
83,5495538,Flash Flood,Hawaii,2006-03-13 21:50:00.000000,2006-03-14 10:05:00.000000,0,0,7,0,7,1000,1,1
84,5495537,Strong Wind,Hawaii,2006-03-12 13:00:00.000000,2006-03-12 13:05:00.000000,2,0,0,0,2,1000,1,2
85,5503629,Avalanche,Idaho,2006-04-02 10:00:00.000000,2006-04-02 12:00:00.000000,0,0,1,0,1,1000,1,1
86,5493732,Tornado,Illinois,2006-03-12 20:02:00.000000,2006-03-12 20:25:00.000000,19,0,0,0,19,1000,12,1
87,5507690,Flash Flood,Indiana,2006-05-25 19:00:00.000000,2006-05-25 22:00:00.000000,0,0,3,0,3,1000,1,1
88,5499701,Thunderstorm Wind,Indiana,2006-04-02 20:20:00.000000,2006-04-02 20:20:00.000000,2,0,0,0,2,1000,1,2
89,5505356,Thunderstorm Wind,Indiana,2006-05-18 12:56:00.000000,2006-05-18 12:56:00.000000,1,0,0,0,1,1000,1,3
90,5500457,Thunderstorm Wind,Indiana,2006-04-02 19:35:00.000000,2006-04-02 19:35:00.000000,1,0,0,0,1,1000,1,3
91,5510660,Lightning,Indiana,2006-05-25 14:40:00.000000,2006-05-25 14:41:00.000000,1,0,0,0,1,1000,1,3
92,5493502,Flood,Indiana,2006-03-12 02:30:00.000000,2006-03-21 00:00:00.000000,0,0,1,0,1,1000,1,3
93,5493500,Flood,Indiana,2006-03-10 00:00:00.000000,2006-03-17 17:41:00.000000,0,0,1,0,1,1000,1,3
94,5493312,Tornado,Indiana,2006-03-31 19:30:00.000000,2006-03-31 19:45:00.000000,1,0,0,0,1,1000,1,3
95,5502578,Tornado,Iowa,2006-04-13 19:29:00.000000,2006-04-13 19:37:00.000000,30,0,0,0,30,1000,40,1
96,5505569,Hail,Iowa,2006-05-29 14:25:00.000000,2006-05-29 14:25:00.000000,2,0,0,0,2,6000,1,2
97,5499862,Tornado,Kansas,2006-04-06 18:08:00.000000,2006-04-06 18:16:00.000000,12,0,0,0,12,1000,7,1
98,5501849,Tornado,Kentucky,2006-04-02 19:50:00.000000,2006-04-02 20:11:00.000000,22,0,0,0,22,1000,1,1
99,5501850,Tornado,Kentucky,2006-04-02 20:11:00.000000,2006-04-02 20:23:00.000000,6,0,0,0,6,1000,1,2
100,5507100,Thunderstorm Wind,Kentucky,2006-05-18 17:01:00.000000,2006-05-18 17:01:00.000000,5,0,0,0,5,1000,1,3
101,5500137,Tornado,Kentucky,2006-04-07 15:04:00.000000,2006-04-07 15:14:00.000000,4,0,0,0,4,1000,1,4
102,5494283,Flash Flood,Kentucky,2006-03-09 20:00:00.000000,2006-03-09 23:00:00.000000,0,0,1,0,1,1000,1,5
103,5507098,Thunderstorm Wind,Kentucky,2006-05-18 15:00:00.000000,2006-05-18 15:00:00.000000,0,0,1,0,1,1000,1,5
104,5507666,Lightning,Kentucky,2006-05-25 19:45:00.000000,2006-05-25 19:45:00.000000,0,0,1,0,1,1000,1,5
105,5507566,Flash Flood,Kentucky,2006-05-25 22:05:00.000000,2006-05-25 23:30:00.000000,0,0,1,0,1,1000,1,5
106,5505637,Lightning,Louisiana,2006-05-08 17:25:00.000000,2006-05-08 17:25:00.000000,1,0,0,0,1,1000,13,1
107,5490514,Strong Wind,Louisiana,2006-03-09 10:14:00.000000,2006-03-09 10:14:00.000000,0,0,1,0,1,1000,13,1
108,5496254,Wildfire,Texas,2006-03-12 11:00:00.000000,2006-03-18 18:00:00.000000,8,0,12,0,20,18201000,5,1
109,5493371,Avalanche,Utah,2006-03-11 15:00:00.000000,2006-03-11 15:00:00.000000,0,0,1,0,1,1000,1,1
110,5504042,Wildfire,Virginia,2006-03-02 15:30:00.000000,2006-03-02 20:30:00.000000,2,0,0,0,2,1000,1,1
111,5503952,Thunderstorm Wind,Virginia,2006-04-07 18:24:00.000000,2006-04-07 18:24:00.000000,1,0,0,0,1,1000,1,2
112,5493887,Avalanche,Washington,2006-03-19 13:30:00.000000,2006-03-19 13:30:00.000000,1,0,1,0,2,1000,1,1
113,5497421,Avalanche,Washington,2006-04-18 07:30:00.000000,2006-04-18 07:30:00.000000,0,0,1,0,1,1000,1,2
114,5495081,Thunderstorm Wind,West virginia,2006-04-07 16:30:00.000000,2006-04-07 16:30:00.000000,2,0,0,0,2,1000,1,1
115,5495084,Thunderstorm Wind,West virginia,2006-04-07 17:00:00.000000,2006-04-07 17:00:00.000000,1,0,0,0,1,1000,1,2
116,5510772,Lightning,Wisconsin,2006-05-29 15:07:00.000000,2006-05-29 15:07:00.000000,5,0,0,0,5,1000,2,1

#### Total non-human damage by region and start month

In [9]:
q = '''
WITH NewWeatherData AS (
    SELECT 
        MONTH(BEGIN_DATE_TIME) AS BEGIN_MON,
        REGION,
        STATE_FIPS,
        COALESCE(DAMAGE_PROPERTY, 0) + COALESCE(DAMAGE_CROPS, 0) AS NON_HUMAN_DESTRUCTION
    FROM 
        AOL_SCHEMA.WEATHER_EVENTS
    WHERE
        MONTH(BEGIN_DATE_TIME) >= 3.0
)
SELECT 
    BEGIN_MON,
    REGION,
    STATE_FIPS,
    SUM(NON_HUMAN_DESTRUCTION) AS TOTAL_DESTRUCTION
FROM 
    NewWeatherData
GROUP BY 
    CUBE(BEGIN_MON, REGION, STATE_FIPS)
ORDER BY 
    BEGIN_MON,
    REGION;
'''

cube_non_human_df = print_query(q, conn)
print(cube_non_human_df.shape)
cube_non_human_df

   BEGIN_MON   REGION  STATE_FIPS  TOTAL_DESTRUCTION
0        3.0  Alabama         1.0              82000
1        3.0  Alabama         NaN              82000
2        3.0   Alaska         2.0              44000
3        3.0   Alaska         NaN              44000
4        3.0  Arizona         4.0              30000
(718, 4)

     BEGIN_MON          REGION  STATE_FIPS  TOTAL_DESTRUCTION
0          3.0         Alabama         1.0              82000
1          3.0         Alabama         NaN              82000
2          3.0          Alaska         2.0              44000
3          3.0          Alaska         NaN              44000
4          3.0         Arizona         4.0              30000
5          3.0         Arizona         NaN              30000
6          3.0        Arkansas         5.0             212000
7          3.0        Arkansas         NaN             212000
8          3.0  Atlantic south        87.0               6000
9          3.0  Atlantic south         NaN               6000
10         3.0      California         6.0             350000
11         3.0      California         NaN             350000
12         3.0        Colorado         8.0             124000
13         3.0        Colorado         NaN             124000
14         3.0     Connecticut         9.0               8000
15         3.0     Connecticut         NaN               8000
16         3.0        Delaware        10.0              11000
17         3.0        Delaware         NaN              11000
18         3.0       E pacific        86.0               2000
19         3.0       E pacific         NaN               2000
20         3.0         Florida        12.0               8000
21         3.0         Florida         NaN               8000
22         3.0         Georgia        13.0              17000
23         3.0         Georgia         NaN              17000
24         3.0            Guam        98.0               1000
25         3.0            Guam         NaN               1000
26         3.0  Gulf of mexico        85.0               9000
27         3.0  Gulf of mexico         NaN               9000
28         3.0          Hawaii        15.0              32000
29         3.0          Hawaii         NaN              32000
30         3.0   Hawaii waters        84.0               3000
31         3.0   Hawaii waters         NaN               3000
32         3.0           Idaho        16.0              63000
33         3.0           Idaho         NaN              63000
34         3.0        Illinois        17.0             339000
35         3.0        Illinois         NaN             339000
36         3.0         Indiana        18.0             195000
37         3.0         Indiana         NaN             195000
38         3.0            Iowa        19.0             299000
39         3.0            Iowa         NaN             299000
40         3.0          Kansas        20.0             367000
41         3.0          Kansas         NaN             367000
42         3.0        Kentucky        21.0             133000
43         3.0        Kentucky         NaN             133000
44         3.0       Lake erie        95.0               1000
45         3.0       Lake erie         NaN               1000
46         3.0      Lake huron        90.0               4000
47         3.0      Lake huron         NaN               4000
48         3.0   Lake michigan        91.0               2000
49         3.0   Lake michigan         NaN               2000
50         3.0   Lake st clair        81.0               3000
51         3.0   Lake st clair         NaN               3000
52         3.0       Louisiana        22.0              26000
53         3.0       Louisiana         NaN              26000
54         3.0        Maryland        24.0              14000
55         3.0        Maryland         NaN              14000
56         3.0   Massachusetts        25.0               1000
57         3.0   Massachusetts         NaN               1000
58         3.0        Michigan        26.0             178000
59         3.0        Michigan         NaN             178000
60         3.0       Minnesota        27.0              78000
61         3.0       Minnesota         NaN              78000
62         3.0     Mississippi        28.0             139000
63         3.0     Mississippi         NaN             139000
64         3.0        Missouri        29.0             678000
65         3.0        Missouri         NaN             678000
66         3.0         Montana        30.0              41000
67         3.0         Montana         NaN              41000
68         3.0        Nebraska        31.0             228000
69         3.0        Nebraska         NaN             228000
70         3.0          Nevada        32.0              27000
71         3.0          Nevada         NaN              27000
72         3.0      New jersey        34.0              55000
73         3.0      New jersey         NaN              55000
74         3.0      New mexico        35.0              38000
75         3.0      New mexico         NaN              38000
76         3.0        New york        36.0              34000
77         3.0        New york         NaN              34000
78         3.0  North carolina        37.0              44000
79         3.0  North carolina         NaN              44000
80         3.0    North dakota        38.0              31000
81         3.0    North dakota         NaN              31000
82         3.0            Ohio        39.0              63000
83         3.0            Ohio         NaN              63000
84         3.0        Oklahoma        40.0            1083000
85         3.0        Oklahoma         NaN            1083000
86         3.0          Oregon        41.0              82000
87         3.0          Oregon         NaN              82000
88         3.0    Pennsylvania        42.0              47000
89         3.0    Pennsylvania         NaN              47000
90         3.0     Puerto rico        99.0               3000
91         3.0     Puerto rico         NaN               3000
92         3.0    South dakota        46.0             100000
93         3.0    South dakota         NaN             100000
94         3.0       Tennessee        47.0              82000
95         3.0       Tennessee         NaN              82000
96         3.0           Texas        48.0          245780000
97         3.0           Texas         NaN          245780000
98         3.0            Utah        49.0              78000
99         3.0            Utah         NaN              78000
100        3.0         Vermont        50.0              22000
101        3.0         Vermont         NaN              22000
102        3.0  Virgin islands        96.0               1000
103        3.0  Virgin islands         NaN               1000
104        3.0        Virginia        51.0              14000
105        3.0        Virginia         NaN              14000
106        3.0      Washington        53.0              19000
107        3.0      Washington         NaN              19000
108        3.0   West virginia        54.0               2000
109        3.0   West virginia         NaN               2000
110        3.0       Wisconsin        55.0             114000
111        3.0       Wisconsin         NaN             114000
112        3.0         Wyoming        56.0               8000
113        3.0         Wyoming         NaN               8000
114        3.0             NaN         1.0              82000
115        3.0             NaN         2.0              44000
116        3.0             NaN         4.0              30000
117        3.0             NaN         5.0             212000
118        3.0             NaN         6.0             350000
119        3.0             NaN         8.0             124000
120        3.0             NaN         9.0               8000
121        3.0             NaN        10.0              11000
122        3.0             NaN        12.0               8000
123        3.0             NaN        13.0              17000
124        3.0             NaN        15.0              32000
125        3.0             NaN        16.0              63000
126        3.0             NaN        17.0             339000
127        3.0             NaN        18.0             195000
128        3.0             NaN        19.0             299000
129        3.0             NaN        20.0             367000
130        3.0             NaN        21.0             133000
131        3.0             NaN        22.0              26000
132        3.0             NaN        24.0              14000
133        3.0             NaN        25.0               1000
134        3.0             NaN        26.0             178000
135        3.0             NaN        27.0              78000
136        3.0             NaN        28.0             139000
137        3.0             NaN        29.0             678000
138        3.0             NaN        30.0              41000
139        3.0             NaN        31.0             228000
140        3.0             NaN        32.0              27000
141        3.0             NaN        34.0              55000
142        3.0             NaN        35.0              38000
143        3.0             NaN        36.0              34000
144        3.0             NaN        37.0              44000
145        3.0             NaN        38.0              31000
146        3.0             NaN        39.0              63000
147        3.0             NaN        40.0            1083000
148        3.0             NaN        41.0              82000
149        3.0             NaN        42.0              47000
150        3.0             NaN        46.0             100000
151        3.0             NaN        47.0              82000
152        3.0             NaN        48.0          245780000
153        3.0             NaN        49.0              78000
154        3.0             NaN        50.0              22000
155        3.0             NaN        51.0              14000
156        3.0             NaN        53.0              19000
157        3.0             NaN        54.0               2000
158        3.0             NaN        55.0             114000
159        3.0             NaN        56.0               8000
160        3.0             NaN        81.0               3000
161        3.0             NaN        84.0               3000
162        3.0             NaN        85.0               9000
163        3.0             NaN        86.0               2000
164        3.0             NaN        87.0               6000
165        3.0             NaN        90.0               4000
166        3.0             NaN        91.0               2000
167        3.0             NaN        95.0               1000
168        3.0             NaN        96.0               1000
169        3.0             NaN        98.0               1000
170        3.0             NaN        99.0               3000
171        3.0             NaN         NaN          251455000
172        4.0         Alabama         1.0             385000
173        4.0         Alabama         NaN             385000
174        4.0          Alaska         2.0              19000
175        4.0          Alaska         NaN              19000
176        4.0  American samoa        97.0               1000
177        4.0  American samoa         NaN               1000
178        4.0         Arizona         4.0               5000
179        4.0         Arizona         NaN               5000
180        4.0        Arkansas         5.0             271000
181        4.0        Arkansas         NaN             271000
182        4.0  Atlantic north        88.0              55000
183        4.0  Atlantic north         NaN              55000
184        4.0  Atlantic south        87.0              12000
185        4.0  Atlantic south         NaN              12000
186        4.0      California         6.0           72491000
187        4.0      California         NaN           72491000
188        4.0        Colorado         8.0             128000
189        4.0        Colorado         NaN             128000
190        4.0     Connecticut         9.0               3000
191        4.0     Connecticut         NaN               3000
192        4.0        Delaware        10.0              12000
193        4.0        Delaware         NaN              12000
194        4.0         Florida        12.0              37000
195        4.0         Florida         NaN              37000
196        4.0         Georgia        13.0             234000
197        4.0         Georgia         NaN             234000
198        4.0  Gulf of mexico        85.0              29000
199        4.0  Gulf of mexico         NaN              29000
200        4.0          Hawaii        15.0              21000
201        4.0          Hawaii         NaN              21000
202        4.0           Idaho        16.0              21000
203        4.0           Idaho         NaN              21000
204        4.0        Illinois        17.0             539000
205        4.0        Illinois         NaN             539000
206        4.0         Indiana        18.0             419000
207        4.0         Indiana         NaN             419000
208        4.0            Iowa        19.0             369000
209        4.0            Iowa         NaN             369000
210        4.0          Kansas        20.0             415000
211        4.0          Kansas         NaN             415000
212        4.0        Kentucky        21.0             364000
213        4.0        Kentucky         NaN             364000
214        4.0       Lake erie        95.0              15000
215        4.0       Lake erie         NaN              15000
216        4.0   Lake michigan        91.0               4000
217        4.0   Lake michigan         NaN               4000
218        4.0       Louisiana        22.0              85000
219        4.0       Louisiana         NaN              85000
220        4.0           Maine        23.0               7000
221        4.0           Maine         NaN               7000
222        4.0        Maryland        24.0              55000
223        4.0        Maryland         NaN              55000
224        4.0   Massachusetts        25.0               4000
225        4.0   Massachusetts         NaN               4000
226        4.0        Michigan        26.0              64000
227        4.0        Michigan         NaN              64000
228        4.0       Minnesota        27.0              52000
229        4.0       Minnesota         NaN              52000
230        4.0     Mississippi        28.0            6570000
231        4.0     Mississippi         NaN            6570000
232        4.0        Missouri        29.0             522000
233        4.0        Missouri         NaN             522000
234        4.0         Montana        30.0              43000
235        4.0         Montana         NaN              43000
236        4.0        Nebraska        31.0             188000
237        4.0        Nebraska         NaN             188000
238        4.0          Nevada        32.0              13000
239        4.0          Nevada         NaN              13000
240        4.0   New hampshire        33.0               2000
241        4.0   New hampshire         NaN               2000
242        4.0      New jersey        34.0              17000
243        4.0      New jersey         NaN              17000
244        4.0      New mexico        35.0              35000
245        4.0      New mexico         NaN              35000
246        4.0        New york        36.0              31000
247        4.0        New york         NaN              31000
248        4.0  North carolina        37.0             326000
249        4.0  North carolina         NaN             326000
250        4.0    North dakota        38.0              61000
251        4.0    North dakota         NaN              61000
252        4.0            Ohio        39.0             167000
253        4.0            Ohio         NaN             167000
254        4.0        Oklahoma        40.0            1158000
255        4.0        Oklahoma         NaN            1158000
256        4.0          Oregon        41.0              18000
257        4.0          Oregon         NaN              18000
258        4.0    Pennsylvania        42.0              62000
259        4.0    Pennsylvania         NaN              62000
260        4.0     Puerto rico        99.0              66000
261        4.0     Puerto rico         NaN              66000
262        4.0    Rhode island        44.0               1000
263        4.0    Rhode island         NaN               1000
264        4.0  South carolina        45.0             240000
265        4.0  South carolina         NaN             240000
266        4.0    South dakota        46.0              74000
267        4.0    South dakota         NaN              74000
268        4.0       Tennessee        47.0             478000
269        4.0       Tennessee         NaN             478000
270        4.0           Texas        48.0           98124000
271        4.0           Texas         NaN           98124000
272        4.0            Utah        49.0              32000
273        4.0            Utah         NaN              32000
274        4.0         Vermont        50.0              19000
275        4.0         Vermont         NaN              19000
276        4.0        Virginia        51.0             184000
277        4.0        Virginia         NaN             184000
278        4.0      Washington        53.0              10000
279        4.0      Washington         NaN              10000
280        4.0   West virginia        54.0              70000
281        4.0   West virginia         NaN              70000
282        4.0       Wisconsin        55.0             106000
283        4.0       Wisconsin         NaN             106000
284        4.0         Wyoming        56.0              16000
285        4.0         Wyoming         NaN              16000
286        4.0             NaN         1.0             385000
287        4.0             NaN         2.0              19000
288        4.0             NaN         4.0               5000
289        4.0             NaN         5.0             271000
290        4.0             NaN         6.0           72491000
291        4.0             NaN         8.0             128000
292        4.0             NaN         9.0               3000
293        4.0             NaN        10.0              12000
294        4.0             NaN        12.0              37000
295        4.0             NaN        13.0             234000
296        4.0             NaN        15.0              21000
297        4.0             NaN        16.0              21000
298        4.0             NaN        17.0             539000
299        4.0             NaN        18.0             419000
300        4.0             NaN        19.0             369000
301        4.0             NaN        20.0             415000
302        4.0             NaN        21.0             364000
303        4.0             NaN        22.0              85000
304        4.0             NaN        23.0               7000
305        4.0             NaN        24.0              55000
306        4.0             NaN        25.0               4000
307        4.0             NaN        26.0              64000
308        4.0             NaN        27.0              52000
309        4.0             NaN        28.0            6570000
310        4.0             NaN        29.0             522000
311        4.0             NaN        30.0              43000
312        4.0             NaN        31.0             188000
313        4.0             NaN        32.0              13000
314        4.0             NaN        33.0               2000
315        4.0             NaN        34.0              17000
316        4.0             NaN        35.0              35000
317        4.0             NaN        36.0              31000
318        4.0             NaN        37.0             326000
319        4.0             NaN        38.0              61000
320        4.0             NaN        39.0             167000

#### Total human damage by region and start month

In [8]:
q = '''
WITH NewWeatherData AS (
    SELECT 
        MONTH(BEGIN_DATE_TIME) AS BEGIN_MON,
        REGION,
        STATE_FIPS,
        COALESCE(INJURIES_DIRECT, 0) + COALESCE(INJURIES_INDIRECT, 0) + COALESCE(DEATHS_DIRECT, 0) + COALESCE(DEATHS_INDIRECT, 0) AS HUMAN_DAMAGE
    FROM 
        AOL_SCHEMA.WEATHER_EVENTS
    WHERE
        MONTH(BEGIN_DATE_TIME) >= 3.0
)
SELECT 
    BEGIN_MON,
    REGION,
    STATE_FIPS,
    SUM(HUMAN_DAMAGE) AS TOTAL_HUMAN_DAMAGE
FROM 
    NewWeatherData
GROUP BY 
    CUBE(BEGIN_MON, REGION, STATE_FIPS)
ORDER BY 
    BEGIN_MON,
    REGION;
'''

cube_human_df = print_query(q, conn)
print(cube_human_df.shape)
cube_human_df

   BEGIN_MON   REGION  STATE_FIPS  TOTAL_HUMAN_DAMAGE
0        3.0  Alabama         1.0                   3
1        3.0  Alabama         NaN                   3
2        3.0   Alaska         2.0                   0
3        3.0   Alaska         NaN                   0
4        3.0  Arizona         4.0                   3
(718, 4)

     BEGIN_MON          REGION  STATE_FIPS  TOTAL_HUMAN_DAMAGE
0          3.0         Alabama         1.0                   3
1          3.0         Alabama         NaN                   3
2          3.0          Alaska         2.0                   0
3          3.0          Alaska         NaN                   0
4          3.0         Arizona         4.0                   3
5          3.0         Arizona         NaN                   3
6          3.0        Arkansas         5.0                  19
7          3.0        Arkansas         NaN                  19
8          3.0  Atlantic south        87.0                   0
9          3.0  Atlantic south         NaN                   0
10         3.0      California         6.0                  26
11         3.0      California         NaN                  26
12         3.0        Colorado         8.0                   0
13         3.0        Colorado         NaN                   0
14         3.0     Connecticut         9.0                   0
15         3.0     Connecticut         NaN                   0
16         3.0        Delaware        10.0                   0
17         3.0        Delaware         NaN                   0
18         3.0       E pacific        86.0                   0
19         3.0       E pacific         NaN                   0
20         3.0         Florida        12.0                   0
21         3.0         Florida         NaN                   0
22         3.0         Georgia        13.0                   0
23         3.0         Georgia         NaN                   0
24         3.0            Guam        98.0                   1
25         3.0            Guam         NaN                   1
26         3.0  Gulf of mexico        85.0                   0
27         3.0  Gulf of mexico         NaN                   0
28         3.0          Hawaii        15.0                   9
29         3.0          Hawaii         NaN                   9
30         3.0   Hawaii waters        84.0                   0
31         3.0   Hawaii waters         NaN                   0
32         3.0           Idaho        16.0                   0
33         3.0           Idaho         NaN                   0
34         3.0        Illinois        17.0                  39
35         3.0        Illinois         NaN                  39
36         3.0         Indiana        18.0                   3
37         3.0         Indiana         NaN                   3
38         3.0            Iowa        19.0                   3
39         3.0            Iowa         NaN                   3
40         3.0          Kansas        20.0                   5
41         3.0          Kansas         NaN                   5
42         3.0        Kentucky        21.0                   1
43         3.0        Kentucky         NaN                   1
44         3.0       Lake erie        95.0                   0
45         3.0       Lake erie         NaN                   0
46         3.0      Lake huron        90.0                   0
47         3.0      Lake huron         NaN                   0
48         3.0   Lake michigan        91.0                   0
49         3.0   Lake michigan         NaN                   0
50         3.0   Lake st clair        81.0                   0
51         3.0   Lake st clair         NaN                   0
52         3.0       Louisiana        22.0                   1
53         3.0       Louisiana         NaN                   1
54         3.0        Maryland        24.0                   2
55         3.0        Maryland         NaN                   2
56         3.0   Massachusetts        25.0                   0
57         3.0   Massachusetts         NaN                   0
58         3.0        Michigan        26.0                   3
59         3.0        Michigan         NaN                   3
60         3.0       Minnesota        27.0                   0
61         3.0       Minnesota         NaN                   0
62         3.0     Mississippi        28.0                   6
63         3.0     Mississippi         NaN                   6
64         3.0        Missouri        29.0                 155
65         3.0        Missouri         NaN                 155
66         3.0         Montana        30.0                   0
67         3.0         Montana         NaN                   0
68         3.0        Nebraska        31.0                   4
69         3.0        Nebraska         NaN                   4
70         3.0          Nevada        32.0                   0
71         3.0          Nevada         NaN                   0
72         3.0      New jersey        34.0                   0
73         3.0      New jersey         NaN                   0
74         3.0      New mexico        35.0                   1
75         3.0      New mexico         NaN                   1
76         3.0        New york        36.0                   0
77         3.0        New york         NaN                   0
78         3.0  North carolina        37.0                   0
79         3.0  North carolina         NaN                   0
80         3.0    North dakota        38.0                   0
81         3.0    North dakota         NaN                   0
82         3.0            Ohio        39.0                   1
83         3.0            Ohio         NaN                   1
84         3.0        Oklahoma        40.0                  26
85         3.0        Oklahoma         NaN                  26
86         3.0          Oregon        41.0                   0
87         3.0          Oregon         NaN                   0
88         3.0    Pennsylvania        42.0                   0
89         3.0    Pennsylvania         NaN                   0
90         3.0     Puerto rico        99.0                   0
91         3.0     Puerto rico         NaN                   0
92         3.0    South dakota        46.0                   0
93         3.0    South dakota         NaN                   0
94         3.0       Tennessee        47.0                   0
95         3.0       Tennessee         NaN                   0
96         3.0           Texas        48.0                  32
97         3.0           Texas         NaN                  32
98         3.0            Utah        49.0                   1
99         3.0            Utah         NaN                   1
100        3.0         Vermont        50.0                   0
101        3.0         Vermont         NaN                   0
102        3.0  Virgin islands        96.0                   0
103        3.0  Virgin islands         NaN                   0
104        3.0        Virginia        51.0                   2
105        3.0        Virginia         NaN                   2
106        3.0      Washington        53.0                   2
107        3.0      Washington         NaN                   2
108        3.0   West virginia        54.0                   0
109        3.0   West virginia         NaN                   0
110        3.0       Wisconsin        55.0                   0
111        3.0       Wisconsin         NaN                   0
112        3.0         Wyoming        56.0                   0
113        3.0         Wyoming         NaN                   0
114        3.0             NaN         1.0                   3
115        3.0             NaN         2.0                   0
116        3.0             NaN         4.0                   3
117        3.0             NaN         5.0                  19
118        3.0             NaN         6.0                  26
119        3.0             NaN         8.0                   0
120        3.0             NaN         9.0                   0
121        3.0             NaN        10.0                   0
122        3.0             NaN        12.0                   0
123        3.0             NaN        13.0                   0
124        3.0             NaN        15.0                   9
125        3.0             NaN        16.0                   0
126        3.0             NaN        17.0                  39
127        3.0             NaN        18.0                   3
128        3.0             NaN        19.0                   3
129        3.0             NaN        20.0                   5
130        3.0             NaN        21.0                   1
131        3.0             NaN        22.0                   1
132        3.0             NaN        24.0                   2
133        3.0             NaN        25.0                   0
134        3.0             NaN        26.0                   3
135        3.0             NaN        27.0                   0
136        3.0             NaN        28.0                   6
137        3.0             NaN        29.0                 155
138        3.0             NaN        30.0                   0
139        3.0             NaN        31.0                   4
140        3.0             NaN        32.0                   0
141        3.0             NaN        34.0                   0
142        3.0             NaN        35.0                   1
143        3.0             NaN        36.0                   0
144        3.0             NaN        37.0                   0
145        3.0             NaN        38.0                   0
146        3.0             NaN        39.0                   1
147        3.0             NaN        40.0                  26
148        3.0             NaN        41.0                   0
149        3.0             NaN        42.0                   0
150        3.0             NaN        46.0                   0
151        3.0             NaN        47.0                   0
152        3.0             NaN        48.0                  32
153        3.0             NaN        49.0                   1
154        3.0             NaN        50.0                   0
155        3.0             NaN        51.0                   2
156        3.0             NaN        53.0                   2
157        3.0             NaN        54.0                   0
158        3.0             NaN        55.0                   0
159        3.0             NaN        56.0                   0
160        3.0             NaN        81.0                   0
161        3.0             NaN        84.0                   0
162        3.0             NaN        85.0                   0
163        3.0             NaN        86.0                   0
164        3.0             NaN        87.0                   0
165        3.0             NaN        90.0                   0
166        3.0             NaN        91.0                   0
167        3.0             NaN        95.0                   0
168        3.0             NaN        96.0                   0
169        3.0             NaN        98.0                   1
170        3.0             NaN        99.0                   0
171        3.0             NaN         NaN                 348
172        4.0         Alabama         1.0                   2
173        4.0         Alabama         NaN                   2
174        4.0          Alaska         2.0                   0
175        4.0          Alaska         NaN                   0
176        4.0  American samoa        97.0                   2
177        4.0  American samoa         NaN                   2
178        4.0         Arizona         4.0                   0
179        4.0         Arizona         NaN                   0
180        4.0        Arkansas         5.0                  53
181        4.0        Arkansas         NaN                  53
182        4.0  Atlantic north        88.0                   0
183        4.0  Atlantic north         NaN                   0
184        4.0  Atlantic south        87.0                   0
185        4.0  Atlantic south         NaN                   0
186        4.0      California         6.0                   1
187        4.0      California         NaN                   1
188        4.0        Colorado         8.0                   0
189        4.0        Colorado         NaN                   0
190        4.0     Connecticut         9.0                   1
191        4.0     Connecticut         NaN                   1
192        4.0        Delaware        10.0                   1
193        4.0        Delaware         NaN                   1
194        4.0         Florida        12.0                   1
195        4.0         Florida         NaN                   1
196        4.0         Georgia        13.0                   3
197        4.0         Georgia         NaN                   3
198        4.0  Gulf of mexico        85.0                   0
199        4.0  Gulf of mexico         NaN                   0
200        4.0          Hawaii        15.0                   0
201        4.0          Hawaii         NaN                   0
202        4.0           Idaho        16.0                   1
203        4.0           Idaho         NaN                   1
204        4.0        Illinois        17.0                  24
205        4.0        Illinois         NaN                  24
206        4.0         Indiana        18.0                   3
207        4.0         Indiana         NaN                   3
208        4.0            Iowa        19.0                  35
209        4.0            Iowa         NaN                  35
210        4.0          Kansas        20.0                  13
211        4.0          Kansas         NaN                  13
212        4.0        Kentucky        21.0                  32
213        4.0        Kentucky         NaN                  32
214        4.0       Lake erie        95.0                   0
215        4.0       Lake erie         NaN                   0
216        4.0   Lake michigan        91.0                   0
217        4.0   Lake michigan         NaN                   0
218        4.0       Louisiana        22.0                   0
219        4.0       Louisiana         NaN                   0
220        4.0           Maine        23.0                   0
221        4.0           Maine         NaN                   0
222        4.0        Maryland        24.0                   0
223        4.0        Maryland         NaN                   0
224        4.0   Massachusetts        25.0                   0
225        4.0   Massachusetts         NaN                   0
226        4.0        Michigan        26.0                   0
227        4.0        Michigan         NaN                   0
228        4.0       Minnesota        27.0                   0
229        4.0       Minnesota         NaN                   0
230        4.0     Mississippi        28.0                   2
231        4.0     Mississippi         NaN                   2
232        4.0        Missouri        29.0                 136
233        4.0        Missouri         NaN                 136
234        4.0         Montana        30.0                   0
235        4.0         Montana         NaN                   0
236        4.0        Nebraska        31.0                   6
237        4.0        Nebraska         NaN                   6
238        4.0          Nevada        32.0                   0
239        4.0          Nevada         NaN                   0
240        4.0   New hampshire        33.0                   0
241        4.0   New hampshire         NaN                   0
242        4.0      New jersey        34.0                   0
243        4.0      New jersey         NaN                   0
244        4.0      New mexico        35.0                   0
245        4.0      New mexico         NaN                   0
246        4.0        New york        36.0                   0
247        4.0        New york         NaN                   0
248        4.0  North carolina        37.0                   0
249        4.0  North carolina         NaN                   0
250        4.0    North dakota        38.0                   2
251        4.0    North dakota         NaN                   2
252        4.0            Ohio        39.0                   0
253        4.0            Ohio         NaN                   0
254        4.0        Oklahoma        40.0                   7
255        4.0        Oklahoma         NaN                   7
256        4.0          Oregon        41.0                   0
257        4.0          Oregon         NaN                   0
258        4.0    Pennsylvania        42.0                   0
259        4.0    Pennsylvania         NaN                   0
260        4.0     Puerto rico        99.0                   0
261        4.0     Puerto rico         NaN                   0
262        4.0    Rhode island        44.0                   0
263        4.0    Rhode island         NaN                   0
264        4.0  South carolina        45.0                   4
265        4.0  South carolina         NaN                   4
266        4.0    South dakota        46.0                   6
267        4.0    South dakota         NaN                   6
268        4.0       Tennessee        47.0                 295
269        4.0       Tennessee         NaN                 295
270        4.0           Texas        48.0                  16
271        4.0           Texas         NaN                  16
272        4.0            Utah        49.0                   0
273        4.0            Utah         NaN                   0
274        4.0         Vermont        50.0                   0
275        4.0         Vermont         NaN                   0
276        4.0        Virginia        51.0                   1
277        4.0        Virginia         NaN                   1
278        4.0      Washington        53.0                   1
279        4.0      Washington         NaN                   1
280        4.0   West virginia        54.0                   3
281        4.0   West virginia         NaN                   3
282        4.0       Wisconsin        55.0                   0
283        4.0       Wisconsin         NaN                   0
284        4.0         Wyoming        56.0                   0
285        4.0         Wyoming         NaN                   0
286        4.0             NaN         1.0                   2
287        4.0             NaN         2.0                   0
288        4.0             NaN         4.0                   0
289        4.0             NaN         5.0                  53
290        4.0             NaN         6.0                   1
291        4.0             NaN         8.0                   0
292        4.0             NaN         9.0                   1
293        4.0             NaN        10.0                   1
294        4.0             NaN        12.0                   1
295        4.0             NaN        13.0                   3
296        4.0             NaN        15.0                   0
297        4.0             NaN        16.0                   1
298        4.0             NaN        17.0                  24
299        4.0             NaN        18.0                   3
300        4.0             NaN        19.0                  35
301        4.0             NaN        20.0                  13
302        4.0             NaN        21.0                  32
303        4.0             NaN        22.0                   0
304        4.0             NaN        23.0                   0
305        4.0             NaN        24.0                   0
306        4.0             NaN        25.0                   0
307        4.0             NaN        26.0                   0
308        4.0             NaN        27.0                   0
309        4.0             NaN        28.0                   2
310        4.0             NaN        29.0                 136
311        4.0             NaN        30.0                   0
312        4.0             NaN        31.0                   6
313        4.0             NaN        32.0                   0
314        4.0             NaN        33.0                   0
315        4.0             NaN        34.0                   0

#### Total destruction by region and start month (both human and non human)

In [16]:
q = '''
WITH NewWeatherData AS (
    SELECT 
        MONTH(BEGIN_DATE_TIME) AS BEGIN_MON,
        REGION,
        COALESCE(INJURIES_DIRECT, 0) + COALESCE(INJURIES_INDIRECT, 0) + COALESCE(DEATHS_DIRECT, 0) + COALESCE(DEATHS_INDIRECT, 0) AS HUMAN_DAMAGE,
        COALESCE(DAMAGE_PROPERTY, 0) + COALESCE(DAMAGE_CROPS, 0) AS NON_HUMAN_DAMAGE
    FROM 
        AOL_SCHEMA.WEATHER_EVENTS
    WHERE
        MONTH(BEGIN_DATE_TIME) >= 3.0
)
SELECT 
    BEGIN_MON,
    REGION,
    SUM(HUMAN_DAMAGE) AS TOTAL_HUMAN_DAMAGE,
    SUM(NON_HUMAN_DAMAGE) AS TOTAL_NON_HUMAN_DAMAGE
FROM 
    NewWeatherData
GROUP BY 
    CUBE(BEGIN_MON, REGION)
ORDER BY 
    BEGIN_MON,
    REGION;
'''

cube_df = print_query(q, conn)
print(cube_df.shape)
cube_df

   BEGIN_MON          REGION  TOTAL_HUMAN_DAMAGE  TOTAL_NON_HUMAN_DAMAGE
0        3.0         Alabama                   3                   82000
1        3.0          Alaska                   0                   44000
2        3.0         Arizona                   3                   30000
3        3.0        Arkansas                  19                  212000
4        3.0  Atlantic south                   0                    6000
(242, 4)

     BEGIN_MON          REGION  TOTAL_HUMAN_DAMAGE  TOTAL_NON_HUMAN_DAMAGE
0          3.0         Alabama                   3                   82000
1          3.0          Alaska                   0                   44000
2          3.0         Arizona                   3                   30000
3          3.0        Arkansas                  19                  212000
4          3.0  Atlantic south                   0                    6000
5          3.0      California                  26                  350000
6          3.0        Colorado                   0                  124000
7          3.0     Connecticut                   0                    8000
8          3.0        Delaware                   0                   11000
9          3.0       E pacific                   0                    2000
10         3.0         Florida                   0                    8000
11         3.0         Georgia                   0                   17000
12         3.0            Guam                   1                    1000
13         3.0  Gulf of mexico                   0                    9000
14         3.0          Hawaii                   9                   32000
15         3.0   Hawaii waters                   0                    3000
16         3.0           Idaho                   0                   63000
17         3.0        Illinois                  39                  339000
18         3.0         Indiana                   3                  195000
19         3.0            Iowa                   3                  299000
20         3.0          Kansas                   5                  367000
21         3.0        Kentucky                   1                  133000
22         3.0       Lake erie                   0                    1000
23         3.0      Lake huron                   0                    4000
24         3.0   Lake michigan                   0                    2000
25         3.0   Lake st clair                   0                    3000
26         3.0       Louisiana                   1                   26000
27         3.0        Maryland                   2                   14000
28         3.0   Massachusetts                   0                    1000
29         3.0        Michigan                   3                  178000
30         3.0       Minnesota                   0                   78000
31         3.0     Mississippi                   6                  139000
32         3.0        Missouri                 155                  678000
33         3.0         Montana                   0                   41000
34         3.0        Nebraska                   4                  228000
35         3.0          Nevada                   0                   27000
36         3.0      New jersey                   0                   55000
37         3.0      New mexico                   1                   38000
38         3.0        New york                   0                   34000
39         3.0  North carolina                   0                   44000
40         3.0    North dakota                   0                   31000
41         3.0            Ohio                   1                   63000
42         3.0        Oklahoma                  26                 1083000
43         3.0          Oregon                   0                   82000
44         3.0    Pennsylvania                   0                   47000
45         3.0     Puerto rico                   0                    3000
46         3.0    South dakota                   0                  100000
47         3.0       Tennessee                   0                   82000
48         3.0           Texas                  32               245780000
49         3.0            Utah                   1                   78000
50         3.0         Vermont                   0                   22000
51         3.0  Virgin islands                   0                    1000
52         3.0        Virginia                   2                   14000
53         3.0      Washington                   2                   19000
54         3.0   West virginia                   0                    2000
55         3.0       Wisconsin                   0                  114000
56         3.0         Wyoming                   0                    8000
57         3.0             NaN                 348               251455000
58         4.0         Alabama                   2                  385000
59         4.0          Alaska                   0                   19000
60         4.0  American samoa                   2                    1000
61         4.0         Arizona                   0                    5000
62         4.0        Arkansas                  53                  271000
63         4.0  Atlantic north                   0                   55000
64         4.0  Atlantic south                   0                   12000
65         4.0      California                   1                72491000
66         4.0        Colorado                   0                  128000
67         4.0     Connecticut                   1                    3000
68         4.0        Delaware                   1                   12000
69         4.0         Florida                   1                   37000
70         4.0         Georgia                   3                  234000
71         4.0  Gulf of mexico                   0                   29000
72         4.0          Hawaii                   0                   21000
73         4.0           Idaho                   1                   21000
74         4.0        Illinois                  24                  539000
75         4.0         Indiana                   3                  419000
76         4.0            Iowa                  35                  369000
77         4.0          Kansas                  13                  415000
78         4.0        Kentucky                  32                  364000
79         4.0       Lake erie                   0                   15000
80         4.0   Lake michigan                   0                    4000
81         4.0       Louisiana                   0                   85000
82         4.0           Maine                   0                    7000
83         4.0        Maryland                   0                   55000
84         4.0   Massachusetts                   0                    4000
85         4.0        Michigan                   0                   64000
86         4.0       Minnesota                   0                   52000
87         4.0     Mississippi                   2                 6570000
88         4.0        Missouri                 136                  522000
89         4.0         Montana                   0                   43000
90         4.0        Nebraska                   6                  188000
91         4.0          Nevada                   0                   13000
92         4.0   New hampshire                   0                    2000
93         4.0      New jersey                   0                   17000
94         4.0      New mexico                   0                   35000
95         4.0        New york                   0                   31000
96         4.0  North carolina                   0                  326000
97         4.0    North dakota                   2                   61000
98         4.0            Ohio                   0                  167000
99         4.0        Oklahoma                   7                 1158000
100        4.0          Oregon                   0                   18000
101        4.0    Pennsylvania                   0                   62000
102        4.0     Puerto rico                   0                   66000
103        4.0    Rhode island                   0                    1000
104        4.0  South carolina                   4                  240000
105        4.0    South dakota                   6                   74000
106        4.0       Tennessee                 295                  478000
107        4.0           Texas                  16                98124000
108        4.0            Utah                   0                   32000
109        4.0         Vermont                   0                   19000
110        4.0        Virginia                   1                  184000
111        4.0      Washington                   1                   10000
112        4.0   West virginia                   3                   70000
113        4.0       Wisconsin                   0                  106000
114        4.0         Wyoming                   0                   16000
115        4.0             NaN                 651               184749000
116        5.0         Alabama                   5                  159000
117        5.0          Alaska                   0                    4000
118        5.0  American samoa                   0                    1000
119        5.0         Arizona                  13                   10000
120        5.0        Arkansas                   2                  174000
121        5.0  Atlantic north                   0                   25000
122        5.0  Atlantic south                   0                    9000
123        5.0      California                   1                   27000
124        5.0        Colorado                   1                  128000
125        5.0     Connecticut                   0                   16000
126        5.0        Delaware                   0                    2000
127        5.0         Florida                  10                  148000
128        5.0         Georgia                   1                  315000
129        5.0  Gulf of mexico                   0                   61000
130        5.0          Hawaii                   0                   10000
131        5.0           Idaho                   0                   36000
132        5.0        Illinois                   3                  358000
133        5.0         Indiana                   5                  228000
134        5.0            Iowa                   4                  217000
135        5.0          Kansas                   0                 1575000
136        5.0        Kentucky                   8                  234000
137        5.0       Lake erie                   0                   48000
138        5.0      Lake huron                   0                   20000
139        5.0   Lake michigan                   0                    6000
140        5.0   Lake st clair                   0                    5000
141        5.0   Lake superior                   0                    3000
142        5.0       Louisiana                   1                 5287000
143        5.0           Maine                   0                    8000
144        5.0        Maryland                   0                    9000
145        5.0   Massachusetts                   4                   47000
146        5.0        Michigan                  76                  232000
147        5.0       Minnesota                   0                  102000
148        5.0     Mississippi                   4                  887300
149        5.0        Missouri                   4                  320000
150        5.0         Montana                   0                   49000
151        5.0        Nebraska                   5                  175000
152        5.0          Nevada                   1                    5000
153        5.0   New hampshire                   2                   27000
154        5.0      New jersey                   0                   14000
155        5.0      New mexico                   0                   25000
156        5.0        New york                   0                   87000
157        5.0  North carolina                   0                  422000
158        5.0    North dakota                   2                   62000
159        5.0            Ohio                   1                  184000
160        5.0        Oklahoma                   0                  843000
161        5.0          Oregon                   4                 1044000
162        5.0    Pennsylvania                   1                   39000
163        5.0     Puerto rico                   1                   10000
164        5.0    Rhode island                   0                    4000
165        5.0  South carolina                   2                  386000
166        5.0    South dakota                   0                  148000
167        5.0       Tennessee                   3                  273000
168        5.0           Texas                  23               101436000
169        5.0            Utah                   0                   17000
170        5.0         Vermont                   0                   21000
171        5.0        Virginia                   0                   53000
172        5.0      Washington                   0                   27000
173        5.0   West virginia                   0                   47000
174        5.0       Wisconsin                   7                  315000
175        5.0         Wyoming                   0                   23000
176        5.0             NaN                 194               116447300
177        NaN         Alabama                  10                  626000
178        NaN          Alaska                   0                   67000
179        NaN  American samoa                   2                    2000
180        NaN         Arizona                  16                   45000
181        NaN        Arkansas                  74                  657000
182        NaN  Atlantic north                   0                   80000
183        NaN  Atlantic south                   0                   27000
184        NaN      California                  28                72868000
185        NaN        Colorado                   1                  380000
186        NaN     Connecticut                   1                   27000
187        NaN        Delaware                   1                   25000
188        NaN       E pacific                   0                    2000
189        NaN         Florida                  11                  193000
190        NaN         Georgia                   4                  566000
191        NaN            Guam                   1                    1000
192        NaN  Gulf of mexico                   0                   99000
193        NaN          Hawaii                   9                   63000
194        NaN   Hawaii waters                   0                    3000
195        NaN           Idaho                   1                  120000
196        NaN        Illinois                  66                 1236000
197        NaN         Indiana                  11                  842000
198        NaN            Iowa                  42                  885000
199        NaN          Kansas                  18                 2357000
200        NaN        Kentucky                  41                  731000
201        NaN       Lake erie                   0                   64000
202        NaN      Lake huron                   0                   24000
203        NaN   Lake michigan                   0                   12000
204        NaN   Lake st clair                   0                    8000
205        NaN   Lake superior                   0                    3000
206        NaN       Louisiana                   2                 5398000
207        NaN           Maine                   0                   15000
208        NaN        Maryland                   2                   78000
209        NaN   Massachusetts                   4                   52000
210        NaN        Michigan                  79                  474000
211        NaN       Minnesota                   0                  232000
212        NaN     Mississippi                  12                 7596300
213        NaN        Missouri                 295                 1520000
214        NaN         Montana                   0                  133000
215        NaN        Nebraska                  15                  591000
216        NaN          Nevada                   1                   45000
217        NaN   New hampshire                   2                   29000
218        NaN      New jersey                   0                   86000
219        NaN      New mexico                   1                   98000
220        NaN        New york                   0                  152000
221        NaN  North carolina                   0                  792000
222        NaN    North dakota                   4                  154000
223        NaN            Ohio                   2                  414000
224        NaN        Oklahoma                  33                 3084000
225        NaN          Oregon                   4                 1144000
226        NaN    Pennsylvania                   1                  148000
227        NaN     Puerto rico                   1                   79000
228        NaN    Rhode island                   0                    5000
229        NaN  South carolina                   6                  626000
230        NaN    South dakota                   6                  322000
231        NaN       Tennessee                 298                  833000
232        NaN           Texas                  71               445340000
233        NaN            Utah                   1                  127000
234        NaN         Vermont                   0                   62000
235        NaN  Virgin islands                   0                    1000
236        NaN        Virginia                   3                  251000
237        NaN      Washington                   3                   56000
238        NaN   West virginia                   3                  119000
239        NaN       Wisconsin                   7                  535000
240        NaN         Wyoming                   0                   47000
241        NaN             NaN                1193               552651300

#### INFO EXTRACTION

In [11]:
# Note the most destructive month in terms of personel and property damage
# Note the most destructive state in terms of personel and property damage
# Note totals across all months and locales


# Note, all maximums are over a 3 month period march 2006 to may 2006
print("All maximums are over a 3 month period march 2006 to may 2006\n\n")

# Maximum month:
month_filtered_df = cube_df.loc[pd.isna(cube_df['REGION'])].loc[pd.notna(cube_df['BEGIN_MON'])]
print("MAX human damage month:\n", month_filtered_df.loc[month_filtered_df['TOTAL_HUMAN_DAMAGE'].idxmax()][['BEGIN_MON', 'TOTAL_HUMAN_DAMAGE', 'TOTAL_NON_HUMAN_DAMAGE']])  # Month, damages, with max human damage 
print("\n\nMAX non-human damage month:\n", month_filtered_df.loc[month_filtered_df['TOTAL_NON_HUMAN_DAMAGE'].idxmax()][['BEGIN_MON', 'TOTAL_HUMAN_DAMAGE', 'TOTAL_NON_HUMAN_DAMAGE']])  # Month, damages, with max non human damage


# Maximum Region:
region_filtered_df = cube_df.loc[pd.isna(cube_df['BEGIN_MON'])].loc[pd.notna(cube_df['REGION'])]
print("\n\nMAX human damage region:\n", region_filtered_df.loc[region_filtered_df['TOTAL_HUMAN_DAMAGE'].idxmax()][['REGION', 'TOTAL_HUMAN_DAMAGE', 'TOTAL_NON_HUMAN_DAMAGE']])  # Total human damage max
print("\n\nMAX non-human damage region:\n", region_filtered_df.loc[region_filtered_df['TOTAL_NON_HUMAN_DAMAGE'].idxmax()][['REGION', 'TOTAL_HUMAN_DAMAGE', 'TOTAL_NON_HUMAN_DAMAGE']])  # Total non-human damage max


# Damage Totals:
print("\n\nDamage Totals:\n", cube_df.loc[pd.isna(cube_df['REGION'])].loc[pd.isna(cube_df['BEGIN_MON'])].drop(['BEGIN_MON', 'REGION'], axis=1))  # Totals

All maximums are over a 3 month period march 2006 to may 2006

NameError: name 'cube_df' is not defined

#### VISUALIZATION - HEATMAPS

In [10]:
# Take cube df, create a heatmap for personel damage and property damage
import matplotlib.pyplot as plt
import seaborn as sns


print(cube_df.dropna())

# Human damage heatmap
human_heatmap_data = cube_df.dropna().pivot('BEGIN_MON', 'REGION', 'TOTAL_HUMAN_DAMAGE')
plt.figure(figsize=(15, 3))
sns.heatmap(human_heatmap_data, cmap="viridis")

plt.title("Personnel Damage Aggregate")
plt.xlabel("Region")
plt.ylabel("Month No.")

tick_positions = range(len(human_heatmap_data.columns))
plt.xticks(ticks=tick_positions, labels=human_heatmap_data.columns, rotation=90)
plt.savefig("personnel_heatmap_plot.png", format="png", bbox_inches="tight")  # Save as PNG
plt.show()


# Non human damage heatmap
non_human_heatmap_data = cube_df.dropna().pivot('BEGIN_MON', 'REGION', 'TOTAL_NON_HUMAN_DAMAGE')
plt.figure(figsize=(15, 3))
sns.heatmap(non_human_heatmap_data, cmap="viridis")

plt.title("Property Damage Aggregate")
plt.xlabel("Region")
plt.ylabel("Month No.")

tick_positions = range(len(non_human_heatmap_data.columns))
plt.xticks(ticks=tick_positions, labels=non_human_heatmap_data.columns, rotation=90)
plt.savefig("property_heatmap_plot.png", format="png", bbox_inches="tight")  # Save as PNG
plt.show()

NameError: name 'cube_df' is not defined